// ---------- investment
// ------------------------------------------------------------------------------

@use "../abstracts" as *;

.investment {
	width: 100%;
	background-color: $light-grey;

	&__container{
		display: flex;
		flex-direction: column;
	}

	&__header{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding:20px 0;	
		color: $grey;

		@include media-breakpoint-down(md){
			flex-direction: column;
			align-items: flex-start;
		}

	}

	&__heading{
		font-weight: 500;
		font-size: 48px;
		line-height: 52px;
		letter-spacing: 0%;
		padding:10px 0;

		@include media-breakpoint-down(sm){
			font-size: 24px;
			line-height: 32px;
		}
	}

	&__subheading{
		font-weight: 300;
		font-size: 23px;
		line-height: 33px;
		letter-spacing: 0%;

		@include media-breakpoint-down(sm){
			font-size: 18px;
			line-height: 28px;
		}
	}

	&__description{
		background-color: $old-grey;
		color:$white;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		padding:20px;
		margin-top:20px;
		
		@include media-breakpoint-down(sm){
			font-size: 14px;
		}


	}

	&__body{
		width: 100%;
		height: 100%;
		display: flex;
		gap: 30px;

		&:focus-visible {
			outline: 2px solid $gold;
			outline-offset: 2px;
			box-shadow: 0 0 0 2px $black;
		}

		&:focus:not(:focus-visible) {
            outline: none;
        }

		@include media-breakpoint-down(sm){
			width: 100%;
			overflow-x: auto;
			padding-top: 4px;
			padding-bottom:50px;
			gap: 10px;
		}

	}

	&__remark{
		color: $grey;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0%;
		text-align: center;
		padding:36px 0;
	}
}
