@use '../base/icon-font' as *;
@use 'breakpoints' as *;
@use 'sass:math';
@use "sass:string";


@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin align($position: relative, $direction: x) {
	position: $position;
	@if ($direction == 'y') {
		top: 50%;
		transform: translateY(-50%);
	} @else if ($direction == 'xy') {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} @else {
		left: 50%;
		transform: translateX(-50%);
	}
}

@mixin visually-hidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		.no-touch &:hover {
			@content;
		}
	}
}


@mixin focus {
	@media only screen and (min-width: 1200px) {
		.active-focus &:focus {
			@content;
		}
	}
}


$path: '../assets/fonts' !default;

@mixin webFont($name, $file, $weight, $style: 'normal') {
	@font-face {
		font-family: '#{$name}';
		src: url('#{$path}/#{$file}.woff2') format('woff2'),
		url('#{$path}/#{$file}.woff') format('woff');
		font-weight: #{$weight};
		@if ($style != 'normal') {
			font-style: #{$style};
		} @else {
			font-style: normal;
		}
	}
}

@mixin animation {
	.loaded & {
		@content;
	}
}


@mixin icon($name: download, $pseudo: before) {
	&::#{$pseudo} {
		@include font-styles;
		content: font-char('ico-#{$name}');
		@content;
	}
}


$window-width: 1920px;

@function remove-whitespace($str) {
	@while string.index($str, ' ') != null {
		$index: string.index($str, ' ');
		$str: #{string.slice($str, 0, $index - 1)}#{string.slice($str, $index + 1)};
	}
	@return $str;
}

@function min-size($min, $val) {
	@if $min >= $val {
		@return math.ceil($val * 0.85);
	}
	@return $min;
}

@function max-size($val) {
	@return math.floor($val * 1.4);
}

@function relative-size($val) {
	@return math.div(($val * 100vw), $window-width);
}

@function fluid($min, $value: $min) {
	$fluid: #{('clamp('min-size($min, $value)','relative-size($value)','max-size($value)')')};
	@return remove-whitespace($fluid);
}

@mixin fluid-grid($property, $mobile, $tablet, $desktop) {
	& {
		#{$property}: #{$mobile};
	}
	@include media-breakpoint-up(xl) {
		#{$property}: fluid($tablet, $desktop);
	}
	@if ($mobile != $tablet) {
		@include media-breakpoint-between(md, lg) {
			#{$property}: #{$tablet};
		}
	}
}



$unitValue: 'vw';
$lg: 1920px;
$md: 768px;
$sm: 360px;

@function unit($num, $unit, $screen: $lg) {
	$vw-context: ($screen * 0.01);
	@if $num == 0 {
		$num: 0px;
	}
	$size: math.div($num, $vw-context) * 1 + #{$unit};
	@return $size;
}

@function vp($numbers) {
	$numberArray: ();
	@each $num in $numbers {
		$numberArray: append($numberArray, unquote(unit($num, $unitValue)), 'space');
	}
	@return $numberArray;
}

@function vpm($numbers) {
	$numberArray: ();
	@each $num in $numbers {
		$numberArray: append($numberArray, unquote(unit($num, $unitValue, $md)), 'space');
	}
	@return $numberArray;
}

@function vps($numbers) {
	$numberArray: ();
	@each $num in $numbers {
		$numberArray: append($numberArray, unquote(unit($num, $unitValue, $sm)), 'space');
	}
	@return $numberArray;
}
