// ----------  variables
// ------------------------------------------------------------------------------


$font-default: poppins, arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$orange: #f1592a;
$grey: #5b6770;
$dark-grey: #4D4F53;
$light-grey: #f4f4f4;
$old-grey: #455364;
$gold: #B3A87C;
$dark-gold: #AC672E;
$site-colors: (
	'black': $black,
	'white': $white,
	'orange': $orange,
	'gold': $gold
) !default;
$box-shadow-color: rgb(0, 0, 0, 0.05);
$light-blue-grey: #d3dee4;
