@use "../abstracts" as *;

.header {
	position: relative;
	background-color: $dark-grey;
	width: 100%;
	height: 750px;

	@include media-breakpoint-only(md) {
		height: 904px;
	}

	@include media-breakpoint-down(sm) {
		height: 619px;
	}

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: left;
	}

	&__title {
		font-weight: 500;
		font-size: 13px;
		line-height: 100%;
		letter-spacing: 11%;
		text-align: center;
		text-transform: uppercase;
		display: none;
		visibility: hidden;
		color: $dark-grey;
	
	}


	&__home {
		padding:10px;
		border-radius: 7px;

		&:focus-visible {
			outline: 2px solid $white;
    		outline-offset: 2px;
    		box-shadow: 0 0 0 2px $black;
   	 		border-radius: 2px;
		}

		@include media-breakpoint-down(sm){
			padding: 0;
		}
	}
	
	&__logo {
		width: 192.4px;
		height: 42.5px;

		@include media-breakpoint-down(sm){
			width: 150px;
			height: 31px
		}
	}

	&__hamburger {
		cursor: pointer;
		padding:10px;

		img {
			width: 30px;
			height: 30px;

			@include media-breakpoint-down(sm){
				width: 20px;
				height: 20px;
			}
		}

		&:focus-visible {
			outline: 2px solid $white;
    		outline-offset: 2px;
    		box-shadow: 0 0 0 2px $black;
   	 		border-radius: 2px;
		}
	}

	&__left {
		width: 570px;
		height: 357px;

		@include media-breakpoint-down(sm) {
			width: 100%;
			height: 100%;
		}
	}

	&__content {
		width: 100%;
		height: 100%;
		padding: 76px 10px 30px 0;
		display: flex;
		gap: 20px;
		flex-direction: column;

		&-stroke {
			border-bottom: 1px solid $gold;
			width: 100px;
			height: 30px;
		}

		&-subtitle {
			color: $white;
			font-weight: 500;
			font-size: 24px;
			letter-spacing: 0%;

			@include media-breakpoint-down(sm) {
				font-size: 16px;
			}
		}

		&-maintitle {
			font-weight: 700;
			font-size: 48px;
			line-height: 56px;
			letter-spacing: 0%;
			color: $lighter-gold;
			padding: 5px 0;

			@include media-breakpoint-down(sm) {
				font-size: 30px;
				line-height: 40px;
				letter-spacing: 0%;
				padding: 0;
			}
		}

		&-text {
			font-weight: 300;
			font-size: 24px;
			line-height: 34px;
			letter-spacing: 0;
			color: $white;

			@include media-breakpoint-down(sm) {
				font-size: 18px;
				line-height: 26px;
				padding: 0;
			}
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			height: 100%;
			padding-top: 20px;
			gap: 10px;
		}
	}

	&__nav {
		width: 100%;
		height: 100%;
		background-color: $white;
		display: flex;
		flex-direction: column;

		&-list {
			width: 100%;
			justify-content: center;
			align-items: center;

			@include media-breakpoint-down(sm) {
				justify-content: flex-start;
			}
		}

		&-item {
			width: 100%;
			text-align: center;
			font-weight: 400;
			font-style: regular;
			padding: 10px 0;
			margin: 7px 0;		
			font-size: 26px;
			letter-spacing: 0%;
			border: none		;

			@include media-breakpoint-only(md) {
				font-size: 20px;
				line-height: 100%;
			}

			@include media-breakpoint-down(sm) {
				text-align: left;
				font-size: 16px;
				line-height: 100%;
			}
		}

		&-link {
			color: $dark-grey;

			&:hover {
				color: $dark-gold;
			}

			&:active{
				background-color: $dark-gold;
				color:$white;
				padding:2px;
			}

			
			&:focus-visible {
				outline: 2px solid $white;
				outline-offset: 2px;
				box-shadow: 0 0 0 2px $black;
				border-radius: 2px;
			}
		}

		&-close {
			transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: $white;
			z-index: 99;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-10px);
			padding-top: 90px;

			&.is-open {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}

	&__ball {
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		height: 100%;
		z-index: 3;
		background-image: url('./../assets/images/header-ball-desktop.png');
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		pointer-events: none;

		@include media-breakpoint-only(md) {
			width: 100%;
			bottom: 0;
			top: auto;
			height: 384px;
			background-image: url('./../assets/images/header-ball-mobile.png');
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			bottom: 0;
			top: auto;
			height: 160px;
			background-image: url('./../assets/images/header-ball-mobile.png');
		}
	}
}

.header__top {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	right: 0;
	z-index: 100;
	background-color: transparent;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	
	&-inner{
		height: 100%;
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;
		padding:0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		top: 0;
		right: 0;
		z-index: 100;
		background-color: transparent;
		transition: background-color 0.3s ease, box-shadow 0.3s ease;
	}

	&.is-scrolled {
		width: 100%;
		background-color: $white;
		box-shadow: 0 2px 10px $box-shadow-color;
		position: fixed;
		padding: 0 9%;
		

		> *{
			margin: 0 auto;
			max-width: 1200px;
			width: 100%;
			padding:0 20px;
		}
			
		>:last-child{
			text-align: right;
		}

		.header__title {
			display: block;
			visibility: visible;

			@include media-breakpoint-down(sm){
				display: none;
				visibility: hidden;
			}

		}

		@include media-breakpoint-only(md){
			padding: 0 2%;
		}

		@include media-breakpoint-down(sm){
			padding: 0 6%;
		}
	}

	&.is-nav-open {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 20px;
		background-color: $white;
		box-shadow: none;
		z-index: 100;

		.header__title {
			display: none;
			visibility: hidden;
		}
	}
}